<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
</head>
<body>

<h1>Rooms</h1>
{% if json is iterable and json is not string and json is not mapping %}
	{% for s in json %}
		<ul>
		{% for ss in s %}
		    <li>{{ss}}: {{ s[ss] }}</li>
		{% endfor %}
		</ul>
	{% endfor %}
{% endif %}

{% if json is iterable and json is not string and json is mapping %}
	<ul>
	{% for s in json %}


		{% if json[s] is iterable and json[s] is string   %}
			<li>{{s}}: {{ json[s] }}</li>
		{% endif %}

		{% if json[s] is iterable and json[s] is not string and json[s] is not mapping %}
			<ul>
				{% for ss in json[s] %}
					<li>Class</li>
					<ul>
						{% for sss in ss %}
							<li>{{sss}}: {{ ss[sss] }}</li>
						{% endfor %}
					</ul>
				{% endfor %}
			</ul>
		{% endif %}
	{% endfor %}
	</ul>
{% endif %}

{% if json is string %}
	<ul>
	<li>{{ json }}</li>
	</ul>
{% endif %}
</body>
</html>