<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Books by Year</title>
</head>
<body>
<h1> Using Post</h1>
<form action="/listBooksAuthor" method="post">

    Author:    <input type="text" name="author"><br>
    <input type="submit">
</form>

<h1> Using Get</h1>
<form action="/listBooksAuthor" method="get">
    Author:    <input type="text" name="author"><br>
    <input type="submit">
</form>
<h1>Books from: {{ author }}</h1>
Number of books on the database: {{ number_of_books }}

{% for bk in books %}
    <ul>
        <li>BOOK: {{bk}}
        </li>
    </ul>
{% endfor %}


</body>
</html>