{% extends "layout.html" %}
{% block title %}Who are you?{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script>
	$(document).ready(function(){
		$("button").click(function() {
			if( $(this).attr('secreat') == 1) {
				var secreatAPI = "http://127.0.0.1:39000/waygenerate?key=" + $(this).attr('key');
				console.log(secreatAPI)
				fetch(secreatAPI)
				    .then(res => res.json())
				    .then((out) => {
				    	if (out.status_code == 200) {

				    		$("#secreatToShow").text(out.secreat.secreat);
				    		console.log(out.secreat.secreat)
					    }
					    else {
				    		$("#secreatToShow").text("Secreat generator not available!");
				    		console.log("Error secreat")
					    }
				}).catch(err => console.error(err));
			}
		});
	});
	</script>

	<script>
		function getOtherUser(key) {
			var askfor = setInterval(function() {
				var secreatAPI = "http://127.0.0.1:39000/wayreceive?key=" + key;
				console.log(secreatAPI)
				fetch(secreatAPI)
				    .then(res => res.json())
				    .then((out) => {
				    	if (out.status_code == 200) {
				    		$("#otherPerson").text("The other user is: " + out.user.user.name);
				    		$("#otherPersonPhoto").prepend("<img src='data:image/png;base64," + out.user.user.photo + "'>");
				    		console.log(out.user.user.name)

	  						clearInterval(askfor);
					    }
					    else {
				    		$("#otherPerson").text("Waiting for the other user...");
				    		console.log("Waiting for the other user")
					    }
				}).catch(err => console.error(err));
			}, 1000);
		}
	</script>
  <script type="text/javascript">
    function unhide(divID, otherDivId) {
    var item = document.getElementById(divID);
    if (item) {
            item.className=(item.className=='hidden')?'unhidden':'hidden';
        }
        document.getElementById(otherDivId).className = 'hidden';
    }
	</script>
  <style>
  	.hidden{
	    display:none;
	}

	.unhidden{
	    display:block;
	}
	input[type=text], select {
	  width: 100%;
	  padding: 12px 20px;
	  margin: 8px 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	}

	input[type=submit] {
	  width: 100%;
	  background-color: #4CAF50;
	  color: white;
	  padding: 14px 20px;
	  margin: 8px 0;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	}

	input[type=submit]:hover {
	  background-color: #45a049;
	}
	textarea {
	  width: 100%;
	  height: 100px;
	  padding: 12px 20px;
	  box-sizing: border-box;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  background-color: #f8f8f8;
	  font-size: 13px;
	  resize: none;
	}
	
	.button {
	  background-color: #4CAF50;
	  border: none;
	  color: white;
	  padding: 5px 10px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 14px;
	  margin: 2px 2px;
	  cursor: pointer;
	}
	#secreatToShow {
		font-weight: bold;
	}
	#secretariats {
	  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}

	#secretariats td, #secretariats th {
	  border: 1px solid #ddd;
	  padding: 8px;
	}

	#secretariats tr:nth-child(even){background-color: #f2f2f2;}

	#secretariats tr:hover {background-color: #ddd;}

	#secretariats th {
	  padding-top: 12px;
	  padding-bottom: 12px;
	  text-align: left;
	  background-color: #4CAF50;
	  color: white;
	}
	</style>
{% endblock %}
{% block content %}
	<h1>Who are you?</h1>
	<div id="form">
		<div id="secreatClose" class="unhidden">
			<h2>
			<button class="button" secreat=1 key={{key}} onclick="getOtherUser({{key}});"><a href="javascript:unhide('secreatOpen', 'secreatClose')" class="button">Generate Secreat</a></button>
			</h2>
		</div>
		<div id="secreatOpen" class="hidden" key={{key}}>
			<p>The random generated secreat is: <b id="secreatToShow"></b><p>
			<button class="button" secreat=1 key={{key}} onclick="getOtherUser({{key}});">Generate New Secreat</button>
			</h2>
			<div id="otherPerson"></div>
			<div id="otherPersonPhoto"></div>
		</div>
		<h3>Insert Secreat</h3>
		<form action="/way?key={{key}}" method="POST">
			<input type="hidden" id="key" name="key" value={{key}} required>
			<input type="text" id="secreat" name="secreat" placeholder="Insert Secreat" required>
			<input type="submit" value="Submit">
		</form>


		<!-- {% if secreat %}
			<a href=/way?key={{key}}>
				<button class="button">Press after the other user enters the secreat!</button>
			</a>
			<p>The random generated secreat is: <b>{{secreat}}</b><p>
		{% else %}
			<a href=/way?key={{key}}&generate=1>
				<button class="button">Generate Secreat</button>
			</a>
		{%endif%}
		{% if not not_found and not other_user %}
	  		<h3>Insert Secreat</h3>
			<form action="/way?key={{key}}" method="POST">
				<input type="hidden" id="key" name="key" value={{key}} required>
				<input type="text" id="secreat" name="secreat" placeholder="Insert Secreat" required>
				<input type="submit" value="Submit">
			</form>
		{% else %}
			{% if not_found %}
				<p>The inserted key does not match current Who Are You key!<p>
			{%endif%} -->
			{% if other_user %}
				<p>The other user name is: {{other_user['name']}}<p>
				<img src="data:image/png;base64,{{other_user['photo']|safe}}">
			{%endif%}
		{%endif%}
	</div>
{% endblock %}