<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Canteen</title>
</head>
<body>

<h1>Canteen - {{canteen['day']}}</h1>

<ul>
    <li>Almoço: 
        <ul>
            {% for m in canteen['meal'][0]['info'] %}
            <li>
                <b>{{m['menu']}} {{m['type']}}: </b>{{m['name']}} 
            </li>
            {% endfor %}
        </ul>
    </li>
    <li>Jantar: 
        <ul>
            {% for m in canteen['meal'][1]['info'] %}
            <li>
                <b>{{m['menu']}} {{m['type']}}: </b>{{m['name']}} 
            </li>
            {% endfor %}
        </ul>
    </li>
</ul>

</body>
</html>