<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secretariat</title>
</head>
<body>

<h1>Secretariat</h1>
Secretaries found:

{% if json is iterable and json is not string and json is not mapping %}
	{% for s in json %}
		<ul>
		{% for ss in s %}
		    <li>{{ss}}: {{ s[ss] }}</li>
		{% endfor %}
		</ul>
	{% endfor %}
{% endif %}

{% if json is iterable and json is not string and json is mapping %}
	<ul>
	{% for s in json %}
	<li>{{s}}: {{ json[s] }}</li>
	{% endfor %}
	</ul>
{% endif %}

</body>
</html>